@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Good Samaritan works to coordinate and support the work of victim-serving and other anti-violence programs in British Columbia through the provision of issue-based consultation and analysis, resource development,training, research and education.
    Our work is guided by respect for difference, human dignity and equality.</p>
