@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Help Us End Violence</h1>
    <p class="lead">The Good Samaritan is for you or someone you know who may be experiencing violence or abuse.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Prevention Programs</h2>
        <p>
            TGS programs provide vital support to anti-violence programs and communities across BC.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need Help?</h2>
        <p>
            If you or someone you know is experiencing violence or abuse, look here for general information about types of abuse, risk factors and safety planning, as well as links to services in BC.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Research & Publications</h2>
        <p>
            TGS develops a wide range of publications and resources related to sexual and domestic violence, child abuse and criminal harassment, as well as analysis of relevant policy and legislative issues.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>