
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>

<div class="container" ng-controller="ReportController">

    <div id="date-section">

        <select ng-model="month_field"
                ng-options="month as month.label for month in months">
        </select>

        <select ng-model="year_field"
                ng-options="year as year.label for year in years">
            
        </select>

        <button type="button" class="btn btn-success" ng-click="generate(month_field.value, year_field.value)">Generate Report</button>

    </div>

    <div class="container" ng-hide="hide" id="report-section">

        <h2>MONTH END STATISTICS</h2>

        <h3>Report Date: </h3>
        <p>{{currentDate}}</p>

        <h3>REPORT FOR MONTH: </h3>
        <p>{{month_field.label}}</p>

        <h3>YEAR:</h3>
        <p>{{year_field.label}}</p>

        <h3>Status</h3>
        <ul>
            <li>Open: {{open}}</li>
            <li>Closed: {{closed}}</li>
            <li>Reopened: {{reopened}}</li>
        </ul>

        <h3>Program</h3>
        <ul>
            <li>Crisis: {{crisis}}</li>
            <li>Court: {{court}}</li>
            <li>SMART: {{SMART}}</li>
            <li>DVU: {{DVU}}</li>
            <li>MCFD: {{MCFD}}</li>
        </ul>

        <h3>Gender</h3>
        <ul>
            <li>Male: {{male}}</li>
            <li>Female: {{female}}</li>
            <li>Trans: {{trans}}</li>
        </ul>

        <h3>Age</h3>
        <ul>
            <li>Adult: {{adult}}</li>
            <li>Youth(18-25): {{youth18}}</li>
            <li>Youth(12-17): {{youth12}}</li>
            <li>Child: {{child}}</li>
            <li>Senior: {{senior}}</li>
        </ul>


    </div>
    
</div>